@import './../../scss/mixin';
@import './../../scss/var';

.backdrop {
  position: absolute;
  //background: rgba(0, 0, 0, 0.1);
  width: 100%;
  //height: 100%;
  height: calc(100% - 90px);
  overflow: hidden;

  .backdropNewChatWrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    //min-height: 300px;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    @include shadow-box;
    animation: slide-up ease-out 0.1s;

    .newChatHeader {
      display: flex;
      justify-content: flex-end;
      padding: 0 10px;

      .close {
        @include simple-button;
        font-size: 20px;
      }
    }
    .newChatBody {
      padding: 20px;

      .newChatActionButtonWrap {
        display: flex;
        justify-content: flex-end;

        .newChatActionButton {
          font-size: 20px;
        }
      }
    }
  }

  @keyframes slide-up {
    0% {
      opacity:0;
      margin-bottom: -300px;
    }
    100% {
      opacity:1;
      margin-bottom: 0;
    }
  }
}

.displayNone {
  display: none;
  visibility: hidden;
}

.chatRooms {
  padding: 10px 0;
  list-style: none;
  min-height: 60vh;
  max-height: 60vh;
  overflow: scroll;
}
