@import './../../scss/mixin';

.chatRoomWrap {
  height: 70px;

  .chatRoomLink {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;

    //&:hover {
    //  @include shadow-box;
    //}
  }
}
