@import './../scss/var';
@import './../scss/mixin';

.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: -40px 10px 20px;
  padding: 30px 10px;
  @include shadow-box;

  .buttonBox {
    min-width: 50px;

    .prevButtonWrap {
      display: flex;
      align-items: center;
      outline: none;
      border: none;
      //border-radius: 50%;
      cursor: pointer;
      transition: 0.2s ease-out;
      padding: 0;
      font-size: 16px;
      background-color: transparent;
      color: $app-normal;

      .prevButtonIcon {
        font-size: 20px;
      }

      &:hover {
        color: #3873ff;
      }
    }
  }

  .titleWrap {

    .title {
      font-size: 16px;
      font-weight: bold;
      color: $app-normal;
    }
  }
}
