@import './../scss/var';

.messageAlignLeft {
  align-items: flex-start;
}
.messageAlignRight {
  align-items: flex-end;
}

.messageBox {
  //display: flex;
  //flex-direction: column;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  //border: 1px solid black;

  .userName {
    display: block;
    font-size: 16px;
    color: $app-normal;

    &::before {
      display: inline-block;
      content: '';
      width: 5px;
      height: 5px;
      margin: 3px 7px 3px 3px;
      border-radius: 5px;
      background-color: $app-status--active;
    }
  }

  .messageContentBox {
    display: inline-block;
    height: auto;
    padding: 5px 12px;
    max-width: 80%;
    border-radius: 12px;
    background-color: $app-muted;

    .message {
      font-size: 14px;
      word-break: break-all;
      color: $app-normal;
    }
  }

  .timestamp {
    display: block;
    padding: 5px 12px;
    font-size: 12px;
    color: $app-weak-1;
  }
}
