@import './mixin';
@import './var';

.simple-button {
  @include simple-button;
}

.simple-button--disabled {
  cursor: not-allowed;
  color: $app-weak-1;
  text-decoration: line-through;

  &:hover {
    color: $app-weak-1;
  }
}

.simple-input-wrap {
  display: flex;
  flex-direction: column;

  .simple-input-label {
    font-size: 14px;
    color: $app-normal;
    margin-bottom: 5px;
  }
  .simple-input {
    @include simple-input;
  }
}
