@import './var';

@mixin shadow-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 12px;
}

@mixin simple-button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  color: $app-normal;
  transition: .1s ease-out;
  padding: 10px;

  &:hover {
    color: $primary;
  }
}

@mixin simple-input {
  padding: 10px 15px;
  border-radius: 4px;
  outline: none;
  border: 1px solid $text-muted;
  color: $text-weak;
  font-size: 1rem;
  transition: 0.2s ease-out border-color;
  margin-bottom: 10px;

  &::placeholder {
    color: $text-muted;
  }
  &:focus {
    border: 1px solid $primary
  }

}
