$text-normal: #3d3d3d;
$text-weak: #6b6b6b;
$text-muted: #e3e3e3;

$app-primary: #C2CAF5;
$app-normal: #81869E;
$app-weak-1: #B3B6BE;
$app-weak-2: #d2d6df;
$app-muted: #F6F6FB;

$primary: #3873ff;
$app-padding: 10px;
